<div class="panel panel-success">
    <div class="panel-heading font-bold">
        <h4>{{name}}{{family}}</h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-success" *ngFor="let member of members">
            <div class="panel-heading font-bold">{{member.title}}</div>
            <div class="panel-body">
                <span class="font-bold">{{member.name}} - </span>
                <span>Age: {{member.age}}</span>
            </div>
        </div>
    </div>
</div>