.navbar-custom{
    background: #373D49;
    width: 100%;
    height: 50px;
    color: #6697d6;
    font-family: 'Fjalla One', sans-serif;
}
.container-fluid{
    margin-top: 50px;
}
h4 {
    margin: 20px 0;
    color: #eff;
    font-style: italic;
}
